MILVUS_HOST=milvus.local
MILVUS_PORT=20112
EMBEDDER_HOST=embedder.local
EMBEDDER_PORT=11434
KAFKA_BROKERS=kafka.local:20106
REPO_TEI_DIRS=/repo-tei-dirs/
CACHE_DIR=~/.textbase/cache
MYSQL_HOST=mysql.local:20103
MYSQL_DB=textbase
MYSQL_USER=textbase
MYSQL_PASSWORD=secret
TEXTBASE_EXTERNAL_URL=http://textbase.local:8080