<html xmlns="http://www.w3.org/1999/xhtml" lang="ro">
<head>
    <title>TEXT ❖ BASE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script th:replace="~{fragments/google-analytics}" ></script>
    <div th:replace="~{fragments/google-one-tap}"></div>

    <link rel="stylesheet" 
        href="../static/bootstrap-5.2.1-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.2.1-dist/css/bootstrap.min.css}"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,400i,700|PT+Sans+Narrow" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/etext.store.css}" href="../static/css/etext.store.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/search.css}" href="../static/css/search.css" type="text/css">
    
</head>
<body>

<div id="navbar" class="navbar">
    <a th:href="@{/}" href="#">TEXT&nbsp;❖&nbsp;BASE</a>
    <a
            class="title"
            th:text="${''}"
            th:href="@{.}"
            href="#"
    >Numele Autorului — Titlul cărții care poate fi destul de lung, adică de fapt nu știm cât de lung</a>
</div>


    <div id="searchbox">

        <!--<div id="logo" style="display:flex; justify-content: center; align-items: center;">-->

            <!--<img -->
                <!---->
                <!--style="width:50px; height:50px; text-align: center;"-->
                <!--th:src="@{img/quote-logo-etext.store.png}" -->
                <!--src="../static/img/quote-logo-etext.store.png" -->
                <!--alt="Etext store"/>-->
            <!--<span>Etext&nbsp;❖&nbsp;store</span>-->

        <!--</div>-->


            <!-- <p style="text-align:center; margin-top:10px;">Your database of wisdom</p> -->

            <p style="text-align: center;"><span style="font-size:50px;color:yellow;">❖</span></p>

            <form 
                id="searchform"
                action="/search" 
            >

                <input name="q" 
                    class="form-control" 
                    type="text"
                    autofocus />
                <span class="glyphicon glyphicon-search"></span>

                <input 
                    id="search-submit-button"
                    type="submit" 
                    value="Search" 
                    class="btn"
                   
                    
                />

            </form>


        <div id="search-results">
        </div>

    </div>

    <div id="featured">
        <ul>
            <li th:each="author: ${authors}">
                <a th:href="${author.strId}" href="alecsandri">
                    <span th:text="${author.visualName}">Vasile Alecsandri</span>
                </a>
            </li>
            <li th:if="false">
                <a th:href="${author.strId}" href="balecsandri">
                    <span th:text="${author.visualName}">Basile Balecsandri</span>
                </a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script 
        src="../static/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" 
        th:src="@{/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" 
        crossorigin="anonymous"></script>

</body>
</html>
